*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    user-select: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgba(43, 40, 40, 0.714);
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

#inicio{
    position: absolute;
    width: 150px;
    height: 50px;
    z-index: 99999;
    cursor: pointer;
}

.navegador a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    user-select: none;
}

.navegador a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navegador a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.botonLogin-popup{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s;
}

.navegador2{
    display: none;
    gap: 40px;
}

.botonLogin-popup:hover{
    background-color: white;
    color: #162938
}

.contenedor{
    align-self: center;
    position: fixed;
    top: 25%;
    width: 440px;
    height: 440px;
    background-color: rgba(46, 45, 45, 0.714);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 10px rgb(133, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.2s ease-in , height 0.2s ease;
    z-index: 9999999999999;
}

.contenedor.active-popup{
    transform: scale(1);
}

.contenedor.active{
    height: 520px;
}

.contenedor .forma-caja{
    width: 100%;
    padding: 40px;
}

.contenedor .forma-caja.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.contenedor.active .forma-caja.login{
    transition: none;
    transform: translateX(-400px);
}

.contenedor .forma-caja.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.contenedor.active .forma-caja.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.contenedor .icono-cierre{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(224, 224, 224);
    font-size: 1.5em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.forma-caja h2{
    font-size: 1.5em;
    color: rgb(224, 224, 224);
    text-align: center;
}

.caja-input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(224, 224, 224);
    margin: 30px 0;
}

.caja-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: rgb(224, 224, 224);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.caja-input input:focus~label,
.caja-input input:valid~label{
    top: -5px;
}

.caja-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(224, 224, 224);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.caja-input .icono{
    position: absolute;
    top: 12px;
    right: 8px;
    font-size: 1.2em;
    color: rgb(235, 235, 235);
}

.recordar-olvidar{
    font-size: .9em;
    color:rgb(224, 224, 224);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.recordar-olvidar label input{
    accent-color: rgb(224, 224, 224);
    margin-right: 3px;
}

.recordar-olvidar a{
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.recordar-olvidar a:hover{
    text-decoration: underline;
}

.boton{
    width: 100%;
    height: 45px;
    background: rgb(224, 224, 224);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: rgb(224, 224, 224);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: rgb(223, 221, 221);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.menu{
    height: auto;
    font-size: 35px;
    text-align: center;
    position: relative;
    transform: translateY(4px);
    color: white;
    cursor: pointer;
    display: none;
}

.colorcito{
    color: lightskyblue;
    font-size: 120%;
}

#check{
    display: none;
}

#idioma{
    position: fixed;
    right: 30px;
    margin-top: 13px;
    color: white;
    font-size: 30px;
}

#idioma img{
    width: 40px;
}

@media (max-width: 1120px) {

    header{
        padding: 5px 30px 0px 30px;
        min-width: 337px;
    }

    .botonLogin-popup{
        all: unset;
        width: 100%;
        cursor: pointer;
        position: relative;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
    }

    .botonLogin-popup:hover{
        background-color: unset;
        color: white;
    }

    .navegador a::after{
        all: unset;
    }

    .menu{
        display: inline-flex;
    }

    #check:checked~.iconos #menu-abierto{
        display: none;
    }

    #menu-cerrado{
        display: none;
    }

    #check:checked~.iconos #menu-cerrado{
        display: block;
    }

    header::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
    }

    .navegador{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.407);
        transition: .3s ease;
        overflow: hidden;
        user-select: none;
    }
    
    #check:checked~.navegador{
        height: 17rem;
    }

    .navegador a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-shadow: none;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navegador a{
        transform: translateY(0);
    }

    .contenedor{
        width: 340px;
    }

    .recordar-olvidar{
        gap: 23%;
    }

    .recordar-olvidar label{
        display: flex;
        align-items: center;
    }

    .recordar-olvidar a{
        text-decoration: underline;
    }

    .forma-caja .recordar-olvidar label input{
        margin-right: 3%;
    }

    .forma-caja .login-register p a{
        text-decoration: underline;
    }

    #idioma{
        right: 100px;
        margin-bottom: 5px;
    }

}


@media (max-width: 768px){
    
}